:root {
  --bg-dark: #333;
  --bg-dark-secondary: #252529;
  --secondary: #103063;
  --secondary-hover: #143f85;
  --primary-color: #b90415;
  --primary-color-hover: #d3071b;
  --light-color: #f4f4f4;
}

body {
  font-family: "PT Sans", sans-serif !important;
}

h3 {
  margin: 1em 0;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

a,
#showcase,
.footer-cols a,
.bg-dark,
.bg-dark-secondary,
.navbar-dark .navbar-nav .nav-link,
.btn {
  color: var(--light-color) !important;
}

.bg-dark {
  background: var(--bg-dark) !important;
}

.bg-dark-secondary {
  background: var(--bg-dark-secondary) !important;
}
/* Navbar */
.navbar {
  padding-right: 0;
  padding-left: 0;
  height: 40px;
}

.navbar-nav > .nav-item {
  width: 100px;
  text-align: center;
}

/* Showcase Section */
#showcase {
  background: url(img/showcase.jpeg) no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  padding-top: 50px;
  font-weight: bold !important;
}

#showcase h1 {
  font-size: 4em !important;
  margin-top: 20vh;
}

#showcase h2 {
  font-size: 2em !important;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  max-width: 1180px !important;
}

.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 2rem;
}

.lead {
  margin: 1em 0;
  font-size: 1.3rem;
}

.fas {
  font-weight: 900vh;
}

.btn {
  border-radius: 0.3rem !important;
  padding: 1rem;
  display: inline-block;
  border: none !important;
  border-radius: 0 !important;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background: var(--secondary);
}

.btn-secondary:hover {
  background: var(--secondary-hover);
}

.section {
  padding: 2rem 0;
}

section#entertainment {
  background: url(img/section-bg.jpeg) no-repeat bottom/cover;
  padding: 10rem 0;
}

.gift-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

.gift-cards img {
  width: 100%;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

/* Footer */

.footer-cols {
  font-size: 14px;
  padding: 2rem;
  text-align: left !important;
}

.footer-cols a {
  text-decoration: none;
}

footer .footer-cols ul li:first-child {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: #444 solid 1px;
  margin-bottom: 1rem;
}

.footer-bottom {
  padding: 15px;
}
